<nav class="admin_umbrellas">
  <ul>
    <li>icon</li>
    <li><%= link_to "管理" %></li>
    <li><%= link_to "分析" %></li>
    <li class="right">
      <p>
        <%= link_to "#" do %> 
        <span class="glyphicon btn-glyphicon glyphicon-user img-circle text-muted"></span>
        <% end %>
      </p>
    </li>
    <li class="right"><%= link_to "登出" %></li>
  </ul> 
</nav>
<div class="row">
  <div class= "col-md-1">
    <div class="sidebar">
      <li>
        <%= link_to admin_locations_path do %> 
          <table>
            <tr>
              <td width=20% class="button_icon"><span class="glyphicon glyphicon-map-marker"></span></td>
              <td width=80% class="button_text">各站<br>資訊</td>
            </tr>
          </table>
        <% end %>
      </li>
      <li>
        <%= link_to admin_umbrellas_path do %> 
          <table>
            <tr>
              <td width=20% class="button_icon"><span class="glyphicon glyphicon-list-alt"></span></td>
              <td width=80% class="button_text">雨傘<br>清單</td>
            </tr>
          </table>
        <% end %>
      </li>
      <li>
        <%= link_to admin_users_path do %> 
          <table>
            <tr>
              <td width=20% class="button_icon"><span class="glyphicon glyphicon-search"></span></td>
              <td width=80% class="button_text">使用者<br>列表</td>
            </tr>
          </table>
        <% end %>
      </li>
    </div>
  </div>
  <div class="station col-md-11">
    <div class="line-switch">
      <li> <%= link_to "全線" %> </li> 
      <li> <%= link_to "文湖線" %></p> </li> 
      <li> <%= link_to "淡水信義線" %> </li> 
      <li> <%= link_to "松山新店線" %> </li> 
      <li> <%= link_to "中和新蘆線" %> </li> 
      <li> <%= link_to "板南線" %> </li> 
    </div>
    <div id="charts" class="col-md-12">
      <div class="chart-container col-md-4">
        <!-- <div class="chart-name">降雨機率</div> -->
        <div class="doughnut-chart">
          <canvas id="raining-percentage" width="60" height="60"></canvas>
          <div class="donut-inner">
            <p class="title">降雨機率</p>
            <p class="value raining-percentage"> <%= @umbrellas.size%>%</p>
          </div>
        </div>
      </div>
      <div class="chart-container col-md-4">
        <!-- <div class="chart-name">Rebalance</div> -->
        <div class="doughnut-chart">
          <canvas id="rebalance" width="60" height="60"></canvas>
          <div class="donut-inner">
            <p class="title">Rebalance</p>
            <p class="value rebalance"> 40% </p>
          </div>
        </div>
      </div>
      <div class="chart-container col-md-4">
        <!-- <div class="chart-name">雨傘狀況</div> -->
        <!-- <div class="doughnut-chart">
          <canvas id="umbrella-status" width="60" height="60"></canvas>
          <div class="donut-inner umbrella_status">
            <p class="title">雨傘狀況</p>
            <div class="status">
             <table>
               <tr>
                 <td class="col-md-6" id="label">良好</td>
                 <td class="col-md-6" id="label">中等</td>
               </tr>
               <tr>
                 <td class="col-md-6 right" id="value">20%</td>
                 <td class="col-md-6 left" id="value">20%</td>
               </tr>
               <tr>
                 <td class="col-md-6" id="label">尚可</td>
                 <td class="col-md-6" id="label">待替換</td>
               </tr>
               <tr>
                 <td class="col-md-6 right" id="value">50%</td>
                 <td class="col-md-6 left" id="value">10%</td>
               </tr>
             </table>
            </div>
          </div>
        </div> -->
        <div class="doughnut-chart">
          <canvas id="umbrella-status" width="60" height="60"></canvas>
          <div class="donut-inner umbrella_status">
            <p class="title">雨傘狀況</p>
            <div class="status">
             <table>
               <tr>
                 <td class="col-md-6 darkgreen" id="label">良好</td>
                 <td class="col-md-6 lightgreen" id="label">中等</td>
               </tr>
               <tr>
                 <td class="col-md-6 right darkgreen" id="value">20%</td>
                 <td class="col-md-6 left lightgreen" id="value">20%</td>
               </tr>
               <tr>
                 <td class="col-md-6 orange" id="label">尚可</td>
                 <td class="col-md-6 red" id="label">待替換</td>
               </tr>
               <tr>
                 <td class="col-md-6 right orange" id="value">50%</td>
                 <td class="col-md-6 left red" id="value">10%</td>
               </tr>
             </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="locations_flow">
      <% @locations.each do |location| %><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> <%= location.id %>  </p>
            <p class="location_name"> <%= location.name %>  </p>
            <p class="location_description"> <%= location.description %>  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> <%= location.umbrellas.size %>  </p>
            </div>
          </div>
        </div>
       </div><!--
      --><% end %>
      <div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> xxx  </p>
            <p class="location_name"> ooo  </p>
            <p class="location_description"> aaa  </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> 3  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
var ctx1 = document.getElementById("raining-percentage");
var ctx2 = document.getElementById("rebalance");
var ctx3 = document.getElementById("umbrella-status");

var rain_per = <%=@umbrellas.size%>
var data1 = {
      datasets: [
      {
        data: [rain_per, 100-rain_per],
        backgroundColor: [
            "#F6A623",
            "#979797"
        ],
        hoverBackgroundColor: [
            "#FFD956",
            "#CACACA"
        ]
      }]
};

var data2 = {
      // labels:['Rebalance'],
      datasets: [
      {
        data: [40,60],
        backgroundColor: [
            "#7ED321",
            "#979797"
        ],
        hoverBackgroundColor: [
            "#B1FF54",
            "#CACACA"
        ]
      }]
};

var data3 = {
      labels:['良好','中等','尚可','待替換'],
      datasets: [
      {
        data: [30,20,100,20],
        backgroundColor: [
            "#417505",
            "#7ED321",
            "#F6A623",
            "#D0011B"
        ],
        hoverBackgroundColor: [
            "#74A838",
            "#B1FF54",
            "#FFD956",
            "#FF344E"
        ]
      }]
};

var chart1 = new Chart(ctx1, {
    type: 'doughnut',
    data: data1,
    options:{cutoutPercentage:80},
    legend:{display: false}

});
var chart2 = new Chart(ctx2, {
    type: 'doughnut',
    data: data2,
    options:{cutoutPercentage:80},
    legend:{display: false}

});
var chart3 = new Chart(ctx3, {
    type: 'doughnut',
    data: data3,
    options:{
      cutoutPercentage:80,
      legend:{display: false}
    }
});

console.log(data3.datasets[0].data[0]);
</script>


===== paginate =====
<script>
  $(document).ready(function() {
    //find all the p with nubmer of umbrellas
    var umbrellas = document.querySelectorAll('p.umbrella_number');
    

    for (var i = 0; i < umbrellas.length; i++){
      var umbrella = umbrellas[i]

      var a = $(umbrella).text();
      var b = parseInt(a);
      if ( b > 9 ){
        $(umbrella).closest('.location_content').css('background-color', '#EFEFEF');
      }

    };
  // console.log(umbrellas[0]);
  // console.log(umbrellas[1]);
  // console.log(a);
  });
</script>