
    <div class="line-switch">
      <li> <%= link_to "全線" %> </li> 
      <li> <%= link_to "文湖線" , admin_stations_path(:line_number => '1') %></p> </li> 
      <li> <%= link_to "淡水信義線" , admin_stations_path(:line_number => '2') %> </li> 
      <li> <%= link_to "松山新店線" , admin_stations_path(:line_number => '3') %> </li> 
      <li> <%= link_to "中和新蘆線" , admin_stations_path(:line_number => '4') %> </li> 
      <li> <%= link_to "板南線" , admin_stations_path(:line_number => '5') %> </li> 
    </div>
    <div id="charts" class="col-md-12">
      <div class="chart-container col-md-4">
        <!-- <div class="chart-name">降雨機率</div> -->
        <div class="doughnut-chart">
          <canvas id="raining-percentage" width="60" height="60"></canvas>
          <div class="donut-inner">
            <p class="title">降雨機率</p>
            <p class="value raining-percentage"> 80% </p>
          </div>
        </div>
      </div>
      <div class="chart-container col-md-4">
        <!-- <div class="chart-name">Rebalance</div> -->
        <div class="doughnut-chart">
          <canvas id="rebalance" width="60" height="60"></canvas>
          <div class="donut-inner">
            <p class="title">Rebalance</p>
            <p class="value rebalance"> 60% </p>
          </div>
        </div>
      </div>
      <div class="chart-container col-md-4">
        <!-- <div class="chart-name">雨傘狀況</div> -->
        <div class="doughnut-chart">
          <canvas id="umbrella-status" width="60" height="60"></canvas>
          <div class="donut-inner">
            <p class="title">待替換</p>
            <p class="value rebalance"> 20% </p>
          </div>
        </div>
      
      </div>
    </div>
    
    <div class="locations_flow">
      <% @stations.each  do |station| %><!--
      --><div class="location_container">
        <div class="location_content">
          <div class="location_info">
            <p class="location_id"> <%= station.station_number1%><%= station.station_number2%> </p>
            <p class="location_name"> <%= station.name %> </p>
            <div class="location_umbrella_number">
              <p>可租傘數： </p>
              <p class="umbrella_number"> <%= station.umbrellas.size %></p>
            </div>
          </div>
        </div>
       </div><!--
      --><% end %>
    </div>
  </div>



<script>
var ctx1 = document.getElementById("raining-percentage");
var ctx2 = document.getElementById("rebalance");
var ctx3 = document.getElementById("umbrella-status");

var rain_per = 80
var data1 = {
      labels:['降雨機率','無'],
      datasets: [
      {
        data: [rain_per, 100-rain_per],
        backgroundColor: [
            "#F6A623",
            "#979797"
        ],
        hoverBackgroundColor: [
            "#FFD956",
            "#CACACA"
        ]
      }]
};

var data2 = {
      // labels:['Rebalance'],
      datasets: [
      {
        data: [60,40],
        backgroundColor: [
            "#7ED321",
            "#979797"
        ],
        hoverBackgroundColor: [
            "#B1FF54",
            "#CACACA"
        ]
      }]
};

var data3 = {
      labels:['良好','中等','尚可','待替換'],
      datasets: [
      {
        data: [30,20,100,20],
        backgroundColor: [
            "#417505",
            "#7ED321",
            "#F6A623",
            "#D0011B"
        ],
        hoverBackgroundColor: [
            "#74A838",
            "#B1FF54",
            "#FFD956",
            "#FF344E"
        ]
      }]
};

var chart1 = new Chart(ctx1, {
    type: 'doughnut',
    data: data1,
    options:{cutoutPercentage:80,
             legend:{display: false}
    }
    

});
var chart2 = new Chart(ctx2, {
    type: 'doughnut',
    data: data2,
    options:{cutoutPercentage:80},
    legend:{display: false}

});
var chart3 = new Chart(ctx3, {
    type: 'doughnut',
    data: data3,
    options:{
      cutoutPercentage:80,
      legend:{display: false}
    }
});

console.log(data3.datasets[0].data[0]);
</script>


===== paginate =====
<script>
  $(document).ready(function() {
    //find all the p with nubmer of umbrellas
    var umbrellas = document.querySelectorAll('p.umbrella_number');
    

    for (var i = 0; i < umbrellas.length; i++){
      var umbrella = umbrellas[i]

      var a = $(umbrella).text();
      var b = parseInt(a);
      if ( b > 9 ){
        $(umbrella).closest('.location_content').css('background-color', '#EFEFEF');
      }

    };
  // console.log(umbrellas[0]);
  // console.log(umbrellas[1]);
  // console.log(a);
  });
</script>