
<div class="col-md-12 line-switch">
  <li> <%= link_to "全線" %> </li>
  <li> <%= link_to "文湖線" , admin_umbrellas_path(:line_number => '1')  %></p> </li>
  <li> <%= link_to "淡水信義線" , admin_umbrellas_path(:line_number => '2')  %> </li>
  <li> <%= link_to "松山新店線" , admin_umbrellas_path(:line_number => '3')  %> </li>
  <li> <%= link_to "中和新蘆線" , admin_umbrellas_path(:line_number => '4')  %> </li>
  <li> <%= link_to "板南線" , admin_umbrellas_path(:line_number => '5')  %> </li>
  <li> <%= link_to "借出中", admin_umbrellas_path(:in_rent => '1') %> </li>
</div>
<div class="data-editor col-md-12">
  <li class="right">
    <div>
      <p>
        <%= link_to "#" do %>
        <span class="glyphicon btn-glyphicon glyphicon-pencil img-circle text-muted"></span>
        <% end %>
      </p>
    </div>
  </li>
  <li class="right">
    <div class="circle">
      <p>
        <%= link_to "#" do %>
        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-muted"></span>
        <% end %>
      </p>
    </div>
  </li>
  <li class="search_bar right">
    <div id="search_box">
      <%= form_tag admin_umbrellas_path, :method => :get do %>
        <%= text_field_tag "keyword", nil, placeholder: '請輸入關鍵字...', :class=>"form-control"%>
        <label for="mySubmit" class="btn"> 
          <span class="glyphicon btn-glyphicon glyphicon-search text-muted"></span> 
        </label>
        <input id="mySubmit" type="submit" value="Go" class="hidden" />
      <% end %>
    </div>      
  </li> 
</div>

<table id=umbrellas class=" table table-bordered col-md-12">
  <thead>
    <tr>
      <th width="5%">雨傘編號</th>
      <th width="10%">安全編碼</th>
      <th width="10%">目前所在位置</th>
      <th width="15%">系統登錄日期</th>
      <th width="10%">租借次數</th>
      <th width="10%">傘況</th>
      <th width="10%">最近一次出借時間</th>
      <th width="10%">站點ID/使用者ID</th>
      <th width="10%" class="remark">備註</th>
    </tr>
  </thead>
  <tbody>
    <% @umbrellas.each do |umbrella|%>
      <tr>
        <td><%= sprintf '%06d', umbrella.id %></td>
        <td><%= umbrella.umbrella_number %></td>
        <td class="umbrella_holder"><%= who_owns_it_now(umbrella) %></td> 
        <td><%= umbrella.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= umbrella.rent_count %></td>
        <td><%= umbrella_status(umbrella) %></td>
        <td><%= Umbrella_last_rent_time(umbrella) %></td>
        <td><%= umbrella.umbrella_holder_id %></td>
        <td class="remark"></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="paginate"><%= paginate @umbrellas %></div>


<script> 

$('.umbrella_holder').each(function(i) {
  if ($(this).text() == "租借中"){
    $(this).css('color' , 'red');
  }
});

</script>