<div class="user col-md-12">
  <div id="user-list" class="col-md-3">
    <div class="user-list">
      <table class="talbe border-collapse col-md-12">
        <tr class="draw-line header">
          <td colspan="2">所有使用者</td>
        </tr>
      </table>
      <% @users.each do |user|%>
        <%= link_to admin_user_path(user) do%>
        <table class="col-md-12">
          <tr class="top">
            <td>ID: <%= sprintf '%06d', user.id %></td>
            <td class="rent-tag">
            <% unless user.umbrella.blank? %>
              <li class="rent-tag">
                租借中
              </li>
            <% end %>
            </td>
          </tr>
          <!-- <tr class="down draw-line">
            <td colspan="2"> E-mail: <%= user.email %></td>
          </tr> -->
          <tr class="draw-line down">
            <td colspan="2"> 租借時間： <%= user_last_rent_time(user) %> </td>
          </tr>
        </table>
        <% end %>
      <% end %>
    </div>
    <div class="paginate"><%= paginate @users%></div>  
  </div>
  <div id="user_information_render" class>
    <div class="data-editor col-md-9">
      <li class="right">
        <div>
          <p>
            <%= link_to "#" do %> 
            <span class="glyphicon btn-glyphicon glyphicon-pencil img-circle text-muted"></span>
            <% end %>
          </p>
        </div>
      </li>
      <li class="right">
        <div class="circle">
          <p>
            <%= link_to "#" do %> 
            <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-muted"></span>
            <% end %>
          </p>
        </div>
      </li>
      <li class="search_bar right">
        <div id="search_box">
          <%= form_tag admin_users_path, :method => :get do %>
            <%= text_field_tag "keyword", nil, placeholder: '請輸入關鍵字...', :class=>"form-control"%>
            <label for="mySubmit" class="btn"> 
              <span class="glyphicon btn-glyphicon glyphicon-search text-muted"></span> 
            </label>
            <input id="mySubmit" type="submit" value="Go" class="hidden" />
          <% end %>
        </div>      
      </li>  
    </div>
    
  </div>
</div> 
    