<div class="user col-md-12">
  <div id="user-list" class="col-md-3">
    <div class="user-list">
      <table class="talbe border-collapse col-md-12">
        <tr class="draw-line header">
          <td colspan="2">所有使用者</td>
        </tr>
      </table>
      <% @users.each do |user|%>
        <%= link_to admin_user_path(user) do%>
        <table class="col-md-12">
          <tr class="top">
            <td>ID: <%= sprintf '%06d', user.id %></td>
            <td class="rent-tag">
            <% unless user.umbrella.blank? %>
              <li class="rent-tag">
                租借中
              </li>
            <% end %>
            </td>
          </tr>
          <!-- <tr class="draw-line down">
            <td colspan="2"> E-mail: <%=user.email %></td>
          </tr> -->
          <tr class="draw-line down">
            <td colspan="2"> 租借時間：<%= user_last_rent_time(user) %> </td>
          </tr>
        </table>
        <% end %>
      <% end %>
    </div>
    <div class="paginate"><%= paginate @users%></div>  
  </div>
  <div id="user_information_render" class="col-md-9">
    <div class="data-editor">
      <li class="right">
        <div>
          <p>
            <%= link_to "#" do %> 
            <span class="glyphicon btn-glyphicon glyphicon-pencil img-circle text-muted"></span>
            <% end %>
          </p>
        </div>
      </li>
      <li class="right">
        <div class="circle">
          <p>
            <%= link_to "#" do %> 
            <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-muted"></span>
            <% end %>
          </p>
        </div>
      </li>
      <li class="search_bar right">
        <div id="search_box">
          <%= form_tag admin_users_path, :method => :get do %>
            <%= text_field_tag "keyword", nil, placeholder: '請輸入關鍵字...', :class=>"form-control"%>
            <label for="mySubmit" class="btn"> 
              <span class="glyphicon btn-glyphicon glyphicon-search text-muted"></span> 
            </label>
            <input id="mySubmit" type="submit" value="Go" class="hidden" />
          <% end %>
        </div>      
      </li>  
    </div>
    <div class="clearfix"></div>
    <div id="user-informaion">
      <div class="clearfix"></div>
      <div id="user-profile">
        <li class="account_create_time">帳號成立時間： <%= @user.created_at.strftime("%Y/%m/%d") %></li>
        <div class="clearfix"></div>
        <div class="user_id col-md-12">
          <li> 使用者ID: <%= sprintf '%06d',@user.id %></li>
          <% unless @user.umbrella.blank? %>
            <li class="rent-tag">
              租借中
            </li>
          <% end %>
        </div>
        <div class="table">
          <table class="table table-bordered">
            <tr>
              <td class="left">手機</td>
              <td class="right">09<%= 2.times.map{rand(10)}.join %>-<%= 6.times.map{rand(10)}.join %></td>
            </tr>
            <tr>
              <td>e-mail</td>
              <td><%= @user.email %></td>
            </tr>
          </table>
          <table class="table table-bordered">
            <tr>
              <td class="left">信用卡號碼</td>
              <td class="right"><%= 4.times.map{rand(10)}.join %>-<%= 4.times.map{rand(10)}.join %>-XXXX-XXXX</td>
            </tr>
            <tr>
              <td>有效期限</td>
              <td><%= sprintf '%02d', rand(1..12) %>/<%= sprintf '%02d', rand(17..22) %> </td>
            </tr>
          </table>
          <div class="clearfix"></div>
        </div>
      </div>
      <hr size="10">
      <div id="rent-log">
        <h4> 總計租借次數：<%= @user_umbrella_usage_amount %> </h4> 
        <h4> 上次租借的雨傘編號：<%= @last_rent_umbrella_id %> </h4> 
        <div class="table">
          <table class="table table-bordered">
            <tr>
              <td class="left">上次租借時間</td>
              <td class="right"><%= @last_rent_start_time %></td>
            </tr>
            <tr>
              <td>上次租借地點</td>
              <td><%= @last_rent_start_location %></td>
            </tr>
          </table>
          <table class="table table-bordered">
            <tr>
              <td class="left">上次歸還時間</td>
              <td class="right"><%= @last_rent_end_time %></td>
            </tr>
            <tr>
              <td>上次歸還地點</td>
              <td><%= @last_rent_end_location %></td>
            </tr>
          </table>
          <div class="clearfix"></div>
        </div>
      </div>
      <hr size="10">
      <div id="user-description">
        <h5>備忘：</h5>
        <%= text_area_tag 'user-description', nil, rows: 3, cols: 40 %>
        <li><%= button_to 'OK', admin_user_path(@user), :method => "get" %></li> 
        <li><%= button_to 'Cancel', admin_user_path(@user), :method => "get" %></li> 
      </div>  
    </div>
  </div>
</div> 