<!DOCTYPE html>
<html>
  <head>
    <title>CourtesyUmbrellaV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if flash[:notice].present? %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <nav class="admin_umbrellas">
      <ul>
        <li><%= image_tag("Umbrella.png") %></li>
        <li class="page_now"><%= link_to "管理" %></li>
        <li><%= link_to "分析" %></li>
        <li class="right icon">
          <p>
            <%= link_to "#" do %>
            <span class="glyphicon btn-glyphicon glyphicon-user img-circle text-muted"></span>
            <% end %>
          </p>
        </li>
        <% if current_user %>
        <li class="right">| <%= link_to('登出', destroy_user_session_path, :method => :delete) %> </li>
        <li class="right password"> <%= link_to('修改密碼', edit_registration_path(:user)) %> </li>
          <% else %>
        <li class="right">| <%= link_to('註冊', new_registration_path(:user)) %> </li>
        <li class="right log_in"> <%= link_to('登入', new_session_path(:user)) %> </li>
        <% end %>
      </ul>
    </nav>
    <div class="row">
      <div class= "col-sidebar col-md-1">
        <div class="sidebar">
          <li>
            <%= link_to admin_stations_path do %> 
              <table>
                <tr>
                  <td width=20% class="button_icon"><span class="glyphicon glyphicon-map-marker"></span></td>
                  <td width=80% class="button_text">各站<br>資訊</td>
                </tr>
              </table>
            <% end %>
          </li>
          <li>
            <%= link_to admin_umbrellas_path do %> 
              <table>
                <tr>
                  <td width=20% class="button_icon"><span class="glyphicon glyphicon-list-alt"></span></td>
                  <td width=80% class="button_text">雨傘<br>清單</td>
                </tr>
              </table>
            <% end %>
          </li>
          <li>
            <%= link_to admin_users_path do %> 
              <table>
                <tr>
                  <td width=20% class="button_icon user_list"><%= image_tag("User.png") %></td>
                  <td width=80% class="button_text user_list">使用者<br>列表</td>
                </tr>
              </table>
            <% end %>
          </li>
          <li>
            <%= link_to admin_rent_histories_path do %> 
              <table>
                <tr>
                  <td width=20% class="button_icon"><span class="glyphicon glyphicon-book"></span></td>
                  <td width=80% class="button_text">租借<br>紀錄</td>
                </tr>
              </table>
            <% end %>
          </li>
          <li>
            <%= link_to admin_enterprises_path do %> 
              <table>
                <tr>
                  <td width=20% class="button_icon user_list">
                    <span class="glyphicon glyphicon-briefcase"></td>
                  <td width=80% class="button_text user_list">合作<br>夥伴</td>
                </tr>
              </table>
            <% end %>
          </li>
        </div>
      </div>
      <div class="col-main col-md-11">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<script>
  $('.side-bar li').click(function(){
    $(this).addClass("hover");
  });

</script>