<!DOCTYPE html>
<html>
  <head>
    <title>CourtesyUmbrellaV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if flash[:notice].present? %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <nav class="admin_umbrellas">
      <ul>
        <li>icon</li>
        <li><%= link_to "管理" %></li>
        <li><%= link_to "分析" %></li>
        <li class="right">
          <p>
            <%= link_to "#" do %>
            <span class="glyphicon btn-glyphicon glyphicon-user img-circle text-muted"></span>
            <% end %>
          </p>
        </li>
        <% if current_user %>
        <li class="right">| <%= link_to('登出', destroy_user_session_path, :method => :delete) %> </li>
        <li class="right password"> <%= link_to('修改密碼', edit_registration_path(:user)) %> </li>
          <% else %>
        <li class="right">| <%= link_to('註冊', new_registration_path(:user)) %> </li>
        <li class="right"> <%= link_to('登入', new_session_path(:user)) %> </li>
        <% end %>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class= "col-md-2 col-sm-12 col-sidebar">
          <div class="sidebar">
            <ul>
              <li><%= link_to " 各站資訊", admin_stations_path, :class => "glyphicon glyphicon-map-marker" %></li>
              <li><%= link_to " 雨傘清單", admin_umbrellas_path, :class => "glyphicon glyphicon-list-alt" %></li>
              <li><%= link_to " 使用者清單", admin_users_path, :class => "glyphicon glyphicon-search" %></li>
            </ul>
          </div>
        </div>
        <div class="col-md-10 col-sm-12 col-main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>