<!DOCTYPE html>
<html>
  <head>
    <title>CourtesyUmbrellaV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 w_sidebar">
          <a class="set_title" href="#"><img src="Umbrella.png" alt="logo"><span>傘傘愛</span></a>
          <h4>公共雨傘出租系統</h4>
        </div>
        <div class="col-md-10 topbar col-md-offset-2">
          <div class="login_menu pull-right">
            <% if current_user %>
              <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
              <%= link_to('修改密碼', edit_registration_path(:user)) %>
            <% else %>
              <%= link_to('註冊', new_registration_path(:user)) %> |
              <%= link_to('登入', new_session_path(:user)) %>
            <% end %>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-2">
          <% if flash[:notice].present? %>
            <div class="alert alert-success" role="alert">
              <%= flash[:notice] %>
            </div>
          <% end %>
          <% if flash[:alert].present? %>
            <div class="alert alert-danger" role="alert">
              <%= flash[:alert] %>
            </div>
          <% end %>
        </div>
        <div class="col-md-10 col-md-offset-2 content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
